# Archivos y directorios generados por Dart y Flutter
.dart_tool/
build/  # Corregido para ignorar la carpeta build de Flutter
pubspec.lock  # Excepto para paquetes de aplicaciones

# Archivos de configuración de entornos de desarrollo
*.iml
*.ipr
*.iws
.idea/

# Archivos específicos de macOS
.DS_Store

# Otros archivos generados por Flutter
*.apk
*.jar
*.bin
*.dill
*.cache
*.track
*.sha1build/
build/
